.fontfix{
    visibility: hidden;
    font-family: "Comfortaa";
}

.ntext{
    padding-left: 53px;
    padding-right: 53px;
    flex-flow: column;
}

.xsmall{
    font-size: 16px;
}

::-moz-selection {
    color: var(--mainColor);
    background: var(--seconderyColor);
}
  
::selection {
color: var(--mainColor);
background: var(--seconderyColor);
}

div.whatsdone{
    padding: 24px;
}

div.box{
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: var(--seconderyColor);
}

.icon:not(img){
    padding: 1px;
    border-width: 1px;
    border-radius: 6px;
    border-style: solid;
    border-color: var(--buttonBackgroundColor);
    background-color: var(--buttonBackgroundColor);
}

img.icon{
    filter: invert(84%) sepia(5%) saturate(58%) hue-rotate(278deg) brightness(92%) contrast(87%);
}

div#avatar{
    padding: 13px;
}

img#avatar{
    width: 512px;
    border-radius: 35px;
}

div#qsettings{
    position: absolute;
    top: 5px;
    right: 5px;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: var(--buttonBackgroundColor);
    background-color: var(--buttonBackgroundColor);
}

a:link{
    text-decoration: underline;
}

a:link, a:visited{
    color: var(--linkSecondColor);
    animation-name: hyperlinkOut;
    animation-duration: 0.2s;
}

a:hover{
    color: var(--linkFirstColor);
    animation-name: hyperlinkIn;
    animation-duration: 0.2s;
}

a:active{
    color: var(--linkThirdColor);
}
