@tailwind base;
@tailwind components;
@tailwind utilities;

.oxygen-mono-regular {
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    .stripe-background {
        background: repeating-linear-gradient(in oklab 315deg, theme('colors.background.dark'), theme('colors.background.dark'), theme('colors.secondary.dark') 20px);
    }
    
    .stripe-background-accent {
        background: repeating-linear-gradient(in oklab 45deg, theme('colors.background.dark'), theme('colors.background.dark'), theme('colors.accent.dark') 10px);
    }

    .text-color-filter {
        filter: brightness(0) saturate(100%) invert(83%) sepia(82%) saturate(12%) hue-rotate(205deg) brightness(101%) contrast(92%);
    }
}

@media (prefers-color-scheme: light) {
    .stripe-background {
        background: repeating-linear-gradient(in oklab 315deg, theme('colors.background.DEFAULT'), theme('colors.background.DEFAULT'), theme('colors.secondary.DEFAULT') 20px);
    }
    
    .stripe-background-accent {
        background: repeating-linear-gradient(in oklab 45deg, theme('colors.background.DEFAULT'), theme('colors.background.DEFAULT'), theme('colors.accent.DEFAULT') 10px);
    }

    .text-color-filter {
        filter: brightness(0) saturate(100%) invert(3%) sepia(21%) saturate(939%) hue-rotate(219deg) brightness(108%) contrast(97%);
    }
}
